.logo {
	margin-top: -10px;
}

.brand-logo {	
	width: 112px;
	height: 64px;
}

@media (min-width: 768px) {
	.brand-logo {
		width: 205px;
		height: 109px;
	}
}

.header-background {
	background-color: #222222;
}

.navbar .navbar-collapse {
	text-align: left;
    top:25px !important;
    position:relative;
}

@media (min-width: 768px) {
    .navbar .navbar-nav {
        display: inline-block;
        float: none;
        vertical-align: top;
    }

    .navbar .navbar-collapse {
        text-align: center;
		top: 0px !important;
    }
}

.button {
	border: none;
}

.navbar {
	min-height: 60px;
}

@media (min-width: 768px) {
	.navbar-nav li a {
 		line-height: 50px;
	}
	
	.navbar {
	  	min-height: 80px;
		margin-bottom: 0px;
	}
}

/* navbar */
.navbar-default {
    background-color: #222222;
    border-color: #222222;
}
/* Link */
.navbar-default .navbar-nav > li > a {
	color: #FFFFFF;
	transition: 0.3s;
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
    color: #E4797B;
}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
    color: #E4797B;
    background-color: #222222;
	transition: 0.3s;
}
.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
    color: #E4797B;
    background-color: #222222;
	transition: 0.3s;
}
/* Mobile version */
.navbar-default .navbar-toggle {
    border-style:hidden; 
}
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
    background-color: #222222;
}
.navbar-default .navbar-toggle .icon-bar {
    background-color: #FFFFFF;
}
.dropdown-menu {
	background-color: #222222;
}
.navbar-nav > li > .dropdown-menu { 
	background-color: #222222; 
}
.navbar-nav > li > .dropdown-menu > li > a { 
	color: #FFFFFF;
	background-color: #222222;
	transition: 0.3s;
}
.navbar-nav > li > .dropdown-menu > li > a:hover,
.navbar-nav > li > .dropdown-menu > li > a:focus { 
	color: #E4797B;
	transition: 0.3s;
	background-color: #3E3E3E;
}
@media (max-width: 767px) {
    .navbar-default .navbar-nav .open .dropdown-menu > li > a {
        color: #FFFFFF;
		transition: 0.3s;
    }
    .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,
    .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
        color: #E4797B;
		transition: 0.3s;
    }
}
@media (min-width: 768px) {
	.navbar a {
		border-top: 3px solid transparent;
	}

	.navbar a:hover,
	.navbar a.active {
	  border-top: 3px solid #E4797B;
	}
	.navbar-default .navbar-nav .open .dropdown-menu > li > a {
		border-top: 0px solid transparent;
	}
}