.band-hero {
	background-color: #D4D4D4;
	padding-bottom: 100px;
	padding-top: 100px;
}
.band-footer {
	background-color: #434343;
	padding-top: 50px;
	padding-bottom: 50px;
}
.social-network-icon {
	color: #FFFFFF;
	text-decoration: none;
	margin-left: 2px;
	margin-right: 2px;
	transition: 0.3s;
}
.social-network-icon:hover {
	color: #E4797B;
	text-decoration: none;
}

.social-network-icon:active {
	color: #C2C2C2;
	text-decoration: none;
}
.social-network.icon:link {
	color: #FFFFFF;
	text-decoration: none;
}
.social-network-link:visited {
	color: #FFFFFF;
	text-decoration: none;
}
.info-footer {
	color: #FFFFFF;
	padding-top: 10px;
	padding-bottom: 10px;
}

