.band-footer {
	background-color: #222222;
	padding-top: 50px;
	padding-bottom: 50px;
}
.social-network-icon {
	color: #FFFFFF;
	text-decoration: none;
	margin-left: 2px;
	margin-right: 2px;
	transition: 0.3s;
}
.social-network-icon:hover {
	color: #E4797B;
	text-decoration: none;
}

.social-network-icon:active {
	color: #C2C2C2;
	text-decoration: none;
}
.social-network.icon:link {
	color: #FFFFFF;
	text-decoration: none;
}
.social-network-link:visited {
	color: #FFFFFF;
	text-decoration: none;
}
.info-footer {
	color: #FFFFFF;
	padding-top: 10px;
	padding-bottom: 10px;
}

.carousel-item {
	height: 100vh;
	min-height: 350px;
	background: no-repeat center center;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	background-image: url('../images/main-image.jpg');
	background-attachment: fixed;
}

.main-content {
	margin-top: 10px;
}
