.content-container {
    position: relative;
    top: 60px;
    padding-bottom: 60px;
}

@media (max-width: 767px) {
    .content-container {
        top: 30px;
    }
}

.parallax {
    /* Set a specific height */
    min-height: 400px; 
      
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: 50% 100%;
    background-repeat: no-repeat;
    background-size: cover;
}

@media (max-width: 767px) {
    .parallax {
        margin-top: -15px;
    }
}

.portrait-caption {
    text-shadow: 0 1px 2px rgba(0, 0, 0, .6);
    font-weight: 700;
    font-size: 120px;
    color: white;
    font-family: jfallaone-regular, sans-serif;
    top: 260px;
    position: relative;
}

.portrait-caption-sm{
    text-shadow: 0 1px 2px rgba(0, 0, 0, .6);
    font-weight: 700;
    font-size: 60px;
    color: white;
    font-family: jfallaone-regular, sans-serif;
    top: 200px;
    position: relative;
}

.portrait-caption-lg{
    text-shadow: 0 1px 2px rgba(0, 0, 0, .6);
    font-weight: 700;
    font-size: 120px;
    color: white;
    font-family: jfallaone-regular, sans-serif;
    top: 165px;
    position: relative;
}

@media (max-width: 1200px) {
	.portrait-caption {
        font-size: 80px;
        top: 305px;
	}
}


@media (max-width: 767px) {
	.portrait-caption {
        font-size: 60px;
        top: 320px;
	}
}

.row-margin {
    margin-top: 20px;
}

.row-title-space {
    margin-top: 50px;
}

.title {
    font-weight: 700;
    font-size: 80px;
    color: var(--background-color);
    font-family: jfallaone-regular, sans-serif;
}

.paragraph-entitat {
    font-size: 16px;
    line-height: 1.6;
}

.contratation {
    background-image: url('/images/main/contratation/background-image.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 500px;
}

.contratation > .container > p {
    color: white;
    font-size: 35px;
    font-family: jfallaone-regular, sans-serif;
    padding-top: 330px;
    margin-bottom: 0px;
}

.contratation > .container > a {
    color: white;
    font-size: 40px;
    font-family: jfallaone-regular, sans-serif;
    border: 2px solid;
}

.contratation > .container > a:hover {
    color: var(--hover-button-color);
    border-color: white;
}