{% extends 'intranet/base.html.twig' %}

{% block content %}

<section class="section-padding">
  <div class="container-fluid">
    <div class="row">
      <h2>Benvinguts a la Intranet de Xàldiga</h2>
    </div>
  </div>
</section>
{% endblock %}

