.content-container {
    position: relative;
    top: 60px;
    padding-bottom: 60px;
}

@media (max-width: 767px) {
    .content-container {
        top: 30px;
    }
}

.parallax {
    /* Set a specific height */
    min-height: 400px; 
      
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: 50% 100%;
    background-repeat: no-repeat;
    background-size: cover;
}

@media (max-width: 767px) {
    .parallax {
        margin-top: -15px;
    }
}

.portrait-caption {
    text-shadow: 0 1px 2px rgba(0, 0, 0, .6);
    font-weight: 700;
    font-size: 120px;
    color: white;
    font-family: jfallaone-regular, sans-serif;
    top: 260px;
    position: relative;
}

.portrait-caption-sm{
    text-shadow: 0 1px 2px rgba(0, 0, 0, .6);
    font-weight: 700;
    font-size: 60px;
    color: white;
    font-family: jfallaone-regular, sans-serif;
    top: 200px;
    position: relative;
}

.portrait-caption-lg{
    text-shadow: 0 1px 2px rgba(0, 0, 0, .6);
    font-weight: 700;
    font-size: 120px;
    color: white;
    font-family: jfallaone-regular, sans-serif;
    top: 165px;
    position: relative;
}

@media (max-width: 1200px) {
	.portrait-caption {
        font-size: 70px;
        top: 310px;
    }
    
    .portrait-caption-sm {
        font-size: 40px;
        top: 270px;
    }

    .portrait-caption-lg {
        font-size: 75px;
        top: 250px;
    }
}


@media (max-width: 767px) {
	.portrait-caption {
        font-size: 50px;
        top: 340px;
    }
    
    .portrait-caption-sm {
        font-size: 25px;
        top: 330px;
    }

    .portrait-caption-lg {
        font-size: 40px;
        top: 312px;
    }
}

.row-margin {
    margin-top: 20px;
}

.row-title-space {
    margin-top: 50px;
}

.title {
    font-weight: 700;
    font-size: 80px;
    color: var(--background-color);
    font-family: jfallaone-regular, sans-serif;
}

.paragraph-entitat {
    font-size: 16px;
    line-height: 1.6;
}

.top-buffer {
    margin-top: 70px;
}

.page-calendar > .container > .row > .col-lg-10 > .row > .col-md-2 > .square > h5 {
    color: white;
    padding-top: 5px;
	font-weight: bold;
}

.page-calendar > .container > .row > .col-lg-10 > .row > .col-sm-3 > h4 {
    color: var(--hover-button-color);
}

.page-calendar > .container > .row > .col-lg-10 > .row > .col-sm-3 {
    margin-top: -20px;
}

.page-calendar > .container > .row > .col-lg-10 > .row > .col-sm-7 {
    margin-top: 25px;
}

.page-calendar > .container > .row > .col-lg-10 > .row {
    margin-bottom: 20px;
}

.page-news > .container > .row > .col-lg-12 > .row > .col-lg-4 > a {
    color: black;
}

.page-news > .container > .row > .col-lg-12 > .row > .col-lg-4 > a:hover {
    text-decoration: none;
    color: var(--hover-button-color);
    transition: 0.3s;
}

.page-news > .container > .row > .col-lg-12 > .row > .col-lg-4 > a > img {
    height: 350px; 
    width : 350px;
    object-fit: cover;
	overflow: hidden;
}

.page-news > .container > .row > .col-lg-12 > .row > .col-lg-4 > a > img:hover {
	filter: grayscale(60%);
	-webkit-filter: grayscale(60%); /* Safari */
	transition: 0.3s;
}

.page-news > .container > .row > .col-lg-12 > .row > .col-lg-4 > p {
    color: rgba(80, 80, 80, 1);
}

.page-news > .container > .row > .col-lg-12 > .row > .col-lg-4 > #date {
    font-size: 12px;
    color: rgba(80, 80, 80, 1);
}

.page-news > .container > .row > .col-lg-12 > .row > .col-lg-4 > #more-info {
    font-size: 14px;
    color: rgba(80, 80, 80, 1);
}

.page-news > .container > .row > .col-lg-12 > .row > .col-lg-4 > #more-info:hover {
    text-decoration: none;
    color: var(--hover-button-color);
    transition: 0.3s;
}

.DayPickerInput {
    display: block !important;
}

.DayPickerInput > input {
    @extend .form-control;
}

@import "bootstrap";