<div class="container-fluid band-footer">
    <div class="container">
      <div class="row">
        <div class="col-lg-3">
        <div class="info-footer">
          <p><strong>Xàldiga Taller de Festes</strong></p>
          <p> Carrer Sant Bartomeu 50<br>
            08241 Manresa </p>
        </div>
        <div class="info-footer">
          <p>
              <b>+34 717 70 76 71</b><br>
              xaldiga@xaldiga.cat
          </p>
        </div>
        </div>
        <div class="col-lg-3">
          <div class="info-footer">
              <p>Segueix-nos a:<br>
                  <h3>
                      <a class="fa fa-facebook-official social-network-icon" href="https://www.facebook.com/Xaldiga" target="_blank" rel="noopener noreferrer" title="Facebook"></a>
                      <a class="fa fa-twitter social-network-icon" href="https://twitter.com/xaldiga" target="_blank" rel="noopener noreferrer" title="Twitter"></a>
                      <a class="fa fa-instagram social-network-icon" href="https://www.instagram.com/xaldigamanresa/" target="_blank" rel="noopener noreferrer" title="Instagram"></a>
                  </h3>
              </p>
          </div>
        </div>
        <div class="col-lg-6"></div>
      </div>
    </div>
  </div>