<nav>
    <div class="container-fluid header-background navbar-fixed-top">
        <div class="container header-background">
              <nav class="navbar navbar-default">
                <div class="navbar-header">
                  <a class="navbar-brand" href="?menu=main">
                      <img src="/images/logo3.png" width="205" height="109" class="d-inline-block align-top brand-logo" alt="">
                  </a>  
                  <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#sectionsNavBar">
                          <span class="icon-bar"></span>
                          <span class="icon-bar"></span>
                          <span class="icon-bar"></span>
                      </button>
                </div>
                <div class="collapse navbar-collapse" id="sectionsNavBar">      
                  <ul class="nav navbar-nav">
                    <li><a href="#">El Correfoc de Manresa</a></li>
                    <li class="dropdown">
                          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Seccions</a>
                          <ul class="dropdown-menu">
                              <li><a href="#">Diables</a></li>
                              <li><a href="#">Tabalers</a></li>
                              <li><a href="#">Histrions</a></li>
                              <li><a href="?menu=infantil">Infantil</a></li>
                              <li><a href="#">I+D</a></li>
                          </ul>
                      </li>
                      <li><a href="#">Fes-te soci</a></li>
                      <li><a href="#">Contacte</a></li>
                  </ul>
                  </div>
            </nav>
          </div>
      </div>
  </nav>