{% extends 'intranet/base.html.twig' %}

{% block content %}

<section>
  <div class="container-fluid">
    <header> 
      <h1 class="display">Calendari</h1>
    </header>
    <div class="form-group row">
      <div class="col-lg-12">
        <a href="/intranet/calendar/create" class="btn btn-primary"><i class="fa fa-plus"></i> Nou acte</a>
      </div>
    </div>
    <div class="line"></div>
    <div class="form-group row">
      <div class="col-lg-12">
        <div class="card">
          <div class="card-header">
            <h4>Actes programats</h4>
          </div>
          <div class="card-body">
            
            <div id="intranet-calendar-table"></div>
              
          </div>
        </div>
      <div>
    </div>
  </div>
</section>
{% endblock %}

{% block scripts %}
  {{ encore_entry_script_tags('intranet/calendar/calendar-table') }}
{% endblock %}
